.container
  nav#navigation.navigation.navigation__hidden
    a.navigation__item(href='#about', rel='m_PageScroll2id')
      | About the conference
    a.navigation__item(href='#program', rel='m_PageScroll2id')
      | Programme
    a.navigation__item(href='#registration', rel='m_PageScroll2id')
      | Registration
    a.navigation__item(href='#venue', rel='m_PageScroll2id')
      | Venue
    a.navigation__item(href='#speakers', rel='m_PageScroll2id')
      | Speakers
