.form__select
  width 100%
  margin-bottom 30px
  padding 10px 5px
  border 1px solid hederColor
  &:active
    border 1px solid hederColor
  &:focus
    border 1px solid hederColor
  &:hover
    border 1px solid hederColor