.navigation
  display flex
  flex-direction column
  align-items center
  margin-top 10px
  @media only screen and (min-width: navigationBreakPoint)
    flex-direction row
    justify-content space-around
    height headerHeight
    margin-top auto