.navigation__item
  color lightColor
  padding 5px
  &:active
    color lightColor
  &:focus
    color lightColor
  &:hover
    color lightColor
  font-family titleBoldFont
  @media only screen and (min-width: sm)
    font-family titleFont