extends ../layouts/default.pug

block site__content
  include ../sections/main.pug
  include ../sections/about.pug
  include ../sections/program.pug
  include ../sections/registration.pug
  include ../sections/speakers.pug