.section__link
  color hederColor
  font-family titleBoldFont
  text-decoration underline
  &:active
    color hederColor
    text-decoration underline
  &:focus
    color hederColor
    text-decoration underline
  &:hover
    color hederColor
    text-decoration underline