.main__two
  background pinkColor
  color hederColor
  width 100%
  padding 30px
  text-align center
  display flex
  flex-direction column
  align-items center
  justify-content center
  @media only screen and (min-width: sm)
    width 50%
  @media only screen and (min-width: lg)
    width 40%