section.section
  .container
    h2.section__title#about
      | What does it mean to be a Chrostian in everyday life?
    .section__content
      p
        | The aim of the conference is to consider how our belief in the Incarnate God, who came down to earth, lived among people, was crucified and rose from the dead affects our everyday life, our family life, our choice of profession, our attitude to education, to society, to culture, to time, to the world around us, to illness and to death.
      p
        | At our conferences we try to share our own experience but also to relate it to the legacy of metropolitan Anthony. There are many who witness that meeting him, one could feel his otherness and centeredness on Christ even in small everyday things. However his understanding of what makes a Christian is unusual in some aspects. He points out that our major sin is superficiality, he speaks about depth, attentiveness, responsibility, creativity, active life (as contrasted to re-active or to being acted upon), of creative chaos, belief in people (including oneself). He talks about human wisdom based on previous experience and about God’s wisdom which is eschatological, about our actions which are defined by the object instead of being centered on the person who is acting.  How much do his views and thinking correspond to our experience and understanding? How can we benefit from the legacy of this man of prayer?
      p
        | All are welcome.  Please send summary of your proposed talks (around 2000 letters) before 15 July to fondmas1@yandex.ru

  