section.section
  .container
    h2.section__title
    .section__content#about
      p
        | The  ‘Metropolitan Anthony of Sourozh Foundation’ is holding its eighth conference on the legacy of Metropolitan Anthony of Sourozh,  to take place at St Sava’s Church Hall, 89 Lancaster Road, London W11.
      p 
        | Entitled ‘Chaos and Beauty’, the conference will reflect on  Metropolitan Anthony’s  understanding of chaos as potentialities, and the ways in which this  relates to our experience of life, of God, of one another  and the world. We include below his own words on chaos – words which remain vital and relevant to the challenges we face today.
      .section__box
        img.section__img-float.hidden-xs(src='assets/images/about.jpg')
        em
          p
            | There are several aspects in chaos: a disorderly, disorganised state; the destruction of a pre-existing order;  and lastly, the fact that God created a world that held infinite  possibilities, a chaos pregnant with perfect Beauty when it will be ultimately unfolded; and that God called out of “possibility” (the original “chaos”) all that was basic or mature, and left it to men to help all other “Possibilities” to unfold and form a Cosmos, i.e. Beauty Unfurled and Revealed. I compared this Primaeval Chaos to the cell, which in the womb develops into an organised grouping of cells, then into a foetus, and ultimately matures to become a child who in his own turn will grow into full maturity - ideally  into the “full measure of the stature of Christ”. To organise, to freeze such a chaos, to stop its unfolding into all that it can become is a temptation, because, then, the chaos is tamed, subdued, enslaved and holds no fear for us; but it is the end of its becoming…  		
          p Metropolitan Anthony of Sourozh
      p 
        | Programme and application form will follow in  August. The day will run from 9:30 a.m to 7:00 p.m., with Talks, Films and Round Table, breaks for tea and lunch, wine and refreshments at the end. Teas, Wine & refreshments are provided but please bring your own sandwiches for lunch.
      a.section__link(href='#registration', rel='m_PageScroll2id')
        | Booking is essential. Places are limited.
