section.main#main
  .main__one.hidden-xs
    .animation-box.animation-right
      img.main__img(src='assets/images/main-01.jpg')
      img.main__img(src='assets/images/main-02.jpg')
      img.main__img(src='assets/images/main-03.jpg')
      img.main__img(src='assets/images/main-04.jpg')
      img.main__img(src='assets/images/main-05.jpg')
      img.main__img.hidden-xs(src='assets/images/main-06.jpg')
  .main__two
    h2.main__date
      | 13-15 September 2019
    hi.main__title
      | The 7th International Conference dedicated to the legacy of Metropolitan Anthony
  .main__one
    .animation-box.animation-right
      img.main__img(src='assets/images/main-06.jpg')
      img.main__img(src='assets/images/main-07.jpg')
      img.main__img(src='assets/images/main-08.jpg')
      img.main__img(src='assets/images/main-09.jpg')
      img.main__img(src='assets/images/main-10.jpg')
      img.main__img.hidden-sm.hidden-md.hidden-lg(src='assets/images/main-05.jpg')
      img.main__img.hidden-sm.hidden-md.hidden-lg(src='assets/images/main-01.jpg')
      img.main__img.hidden-sm.hidden-md.hidden-lg(src='assets/images/main-02.jpg')
      
      
  
    