section.section_background_pink
  br
  br
  .container
    .section__flex-box
      .col-sm-6.section__box
        h2.section__title#program
          | Provisional Timetable
        br
        .section__content_margin_big
          p
            b 9:30 
            | &ensp;Coffee and Registration
          p 
            b 10:15 
            | &ensp;Morning Programme (two talks)
          p 
            b 12:15 &ensp;Lunch
          p 
            b 1:25
            | &ensp;Afternoon Programme (two talks & short film of M.A.)   	  
          p 
            b 3:30 &ensp;Coffee & Refreshments  
          p 
            b 4:15 &ensp;Round Table 
          p Open discussion on themes arising in the conference.
          p 
            b 5:45 &ensp;Film: M.A.
          p 
            b 6:10 &ensp;Panikhida 
            em (prayers for the departed)
          p 
            b 6:30 &ensp;Wine & Refreshments
      .col-sm-6.section__box
         h2.section__title#speakers
           | Speakers
         br
         .section__content_margin_big
           b
             p I. Father Dragos Herescu
           em
             p Cambridge
           b
             p II. Mary Cunningham
           em
             p Oxford
           b
             p III. Revd Dr John Binns
           em
             p Staffordshire
           b
             p IV. Revd Deborah Walton
           em
             p Staffordshire



//section.section_background_pink
  .container
    h2.section__title#program
      | Programme
    .section__content
      p
        | Talks will be given by priests, theologians, psychologists, journalists, writers, doctors, scientists, teachers and other speakers.
      p
        | On Friday, September 13th a journalist of St Petersburg Radio “Grad Petrov” L. Zotova will lead a discussion “How to establish my relationship with God in everyday life?”
      p
        | Popular discussion workshops will take place September, 14th. Among the workshop leaders there are priests and lay people well known to our audience.
      p
        | Special workshops for young people 7-9 and 10-14 years of age will be organized. Their parents are supposed to attend other workshops.
      p
        | On Sunday, September 15th, three round tables on the concept of ministry will take place at the same time. Please, make your choice when registering for the conference:
      .section__flex-box
        .section__box#box-left
          .section__close.hidden#close-left &#10006;
          h3.section__subtitle
            | “Man is a priest of all creation? Serving the created world”
          .section__content#content-left
            | According to Metropolitan Anthony every human being is called to be a priest of creation. How is it possible? Are we fulfilling our vocation? Are we at least trying to do something in this direction?
          .section__button#button-left In detail...
          .section__detail.hidden#detail-left
            p Date: September, 15th, 2019. Time: to be announced.
            p Venue: Alexander Solzhenitsyn House for Russians Abroad, Moscow, Russia
            p According to Metropolitan Anthony every human being is called to be a priest of creation. How is it possible? Are we fulfilling our vocation? Are we at least trying to do something in this direction?
            p Questions for discussion:
            p Activity is normally defined by its object. What is our attitude to nature? How does this attitude evolve in the history of mankind and in a life of a person?
            p Global ecological problems, inflicted on nature by mankind and sustainability of our everyday life.
            p The reality is such that mankind destroys nature rather than serve it. This is true not for individual ‘bad’ people but for all of us. All of us consume energy, travel by car or train, use plastic, etc. Can we do anything in order to solve this problem in everyday life? What can we do?
            p Our body is a small part of the material world handed to us by God for our care. Does the way we treat our body reflects our attitude to the world around us (and/or the other way round)?
            p Share the link    
        .section__box#box-center
          .section__close.hidden#close-center &#10006;
          h3.section__subtitle
            | “Profession as a ministry. Ministry as a profession”
          .section__content#content-center
            | A large proportion of our everyday life is dedicated to work. Some people consider their job as a calling, some – as a form of creative activity and self-expression, some – as a burden. We suggest discussing how our professional life is related to our Christian calling.
          .section__button#button-center In detail...
          .section__detail.hidden#detail-center
            p Date: September, 15th, 2019. Time: to be announced.
            p Venue: Alexander Solzhenitsyn House for Russians Abroad, Moscow, Russia
            p A large proportion of our everyday life is dedicated to work. Some people consider their job as a calling, some – as a form of creative activity and self-expression, some – as a burden. We suggest discussing how our professional life is related to our Christian calling.
            p Our intention is to create a space for discussion and to raise questions concerning the role of work in our lives and truly Christian attitude to work. We would also like to relate our experience to the experience and legacy of metropolitan Anthony of Sourozh.
            p Questions for discussion:
            p 1) How are work and ministry related in the life of a Christian, who is called to be God’s co-worker in all ways of life including professional life?
            p 2) How can one discover motivation and meaning in a boring, routine job?
            p 3) What can we do if our job is so tiring that we live the life to the full only on holidays?
            p 4) Are there any special considerations for choosing a job for a Christian?
        .section__box#box-right
          .section__close.hidden#close-right &#10006;
          h3.section__subtitle
            | “The Church and the vocation of a Christian. Voluntary work”
          .section__content#content-right
            | The theme of the round table is what it means for us, Christians of the XXI century, to belong to a Church, what it means for us to be involved in a voluntary activity. What inspires us? And the opposite situation – why aren’t we involved in voluntary work?
          .section__button#button-right In detail...
          .section__detail.hidden#detail-right
            p Date: September, 15th, 2019. Time: to be announced.
            p Venue: Alexander Solzhenitsyn House for Russians Abroad, Moscow, Russia
            p The theme of the round table is what it means for us, Christians of the XXI century, to belong to a Church, what it means for us to be involved in a voluntary activity. What inspires us? And the opposite situation – why aren’t we involved in voluntary work?
            p How do we understand the nature of the Church and the vocation of a person in the context of it? In metropolitan Anthony’s parish it was a privilege and a joy to serve God and other people. What do we know about metropolitan Anthony’s views on the Church and on church ministry?
            p Why is there an opinion that the Church is a place for self-realisation for those who fail in their secular jobs? Is voluntary work for the Church (choir singing, cleaning, teaching, etc) more Christian than secular jobs? Is there a difference between secular and church ministry? How do we understand liturgy after liturgy?