section.section
  .container
    h2.section__title#registration
      | Registration
    br
    .row
      .col-sm-6
        .section__content_margin_big.center-block
          .text-justify
            p To reserve a place please contact us and we will send Programme and Application form to you when they are finalised in August.
            p As demand is high, we encourage you to apply early, and at latest by 
              b October 14, 2019. 
            p After that please check with the organizers by telephone or e-mail (below) to see if places remain. 
            p
              em No tickets are issued, but once booked your names will be on a list at registration.
      .col-sm-6
        .section__content_margin_big.center-block
          form.form
            input.form__input(type='text', placeholder='Name')
            br
            input.form__input(type='text', placeholder='Family name')
            br
            input.form__input(type='email', placeholder='E-mail')
            br
            input.form__input(type='tel', placeholder='Tel')
            br
            input.form__input_type_file(type='file', placeholder='Tel')
            br
            button.form__button.center-block(type='submit') Register