section.section_background_pink
  .container
    h2.section__title#speakers
      | Speakers and group leaders at the conference
    .section__content
      br
      .row
        .col-sm-4
          p archpr. V. Arkhipov (Novaya Derevnya)
          p G. Bazikin (Moscow)
          p pr. A. Belyaev (Samara)
          p N. Bolshakova (Riga)
          p archpr. A. Borisov (Moscow)
          p B.S. Bratus (Moscow)
          p hierom. Feodorit (Senchukov) (Moscow)
          p hierom. Giovanni (Guaita) (Moscow)
          p F. de Graaf (Moscow)
          p pr. D. Herescu (Cambridge)
          p archpr. Ch. Hill (Moscow)
          p N.V. Inina (Moscow)
        .col-sm-4
          p archpr. V. Kakhovsky (Moscow)
          p archpr. Kirill Kaleda (Moscow)
          p T. Kasatkina (Moscow)
          p T. Krasnova (Moscow)
          p M.A. Kucherskaya (Moscow)
          p T. Larsen (Moscow)
          p K. Matsan (Moscow)
          p D. Nikitin (Moscow)
          p E. Nikitina (Moscow)
          p L. Other (Stourbridge)
          p Ya. Rodina (Moscow)
        .col-sm-4  
          p archpr. S. Rybakov (Samara)
          p E.A. Savina (Moscow)
          p I.P. Scorer (Exeter)
          p protod. P. Scorer (Exeter)
          p T.M. Semchishina (Moscow)
          p A.I. Shmaina-Velikanova (Moscow)
          p archpr. D. Sizonenko (St-Peterburg)
          p E. Theokritoff (Cambridge)
          p J-F. Thiry (Moscow)
          p B.A. Voskrsensky (Moscow)
          p L. Zotova (St-Petersburg)