section.section_background_pink
  .container
    h2.section__title#venue
      | Venue
    br
    .row
      .col-sm-6
        iframe.section__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.8004010434142!2d-0.2106273842297046!3d51.51687777963671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876101e5242a217%3A0x184d3ce81d662924!2s89-91+Lancaster+Rd%2C+Notting+Hill%2C+London+W11+1QQ%2C+UK!5e0!3m2!1sen!2sru!4v1564251608846!5m2!1sen!2sru', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')

      .col-sm-6
        .section__content_margin_big.center-block
          .text-justify
            p 
              b Directions:
            p The Conference will take place at:
            p The 
              b Church Hall of the Serbian Orthodox Church of St Sava
            p 
              b 89-91 Lancaster Road, London W11 1QQ.  
            p The Church is located a few yards from the junction with Ladbroke Grove.
            p 
              b Buses:  
            p 7, 23, 52, 70, and 452. 'Ladbroke Grove Station' bus stop is 150 metres from the Church.
            p 
              b Tube:
            p Ladbroke Grove Station is 200 metres from the Church. Holland Park station is a 15 minute walk away. Notting Hill Gate and Royal Oak are a 20 minute walk.