footer.site__footer.footer
  .container
    .row
      .col-sm-4
        .footer-contact
          p E-mail: mail@mail.com
      .col-sm-4
        .footer-contact
          p Phone number: +7 (777) 777-77-77
      .col-sm-4
        .footer__copyright
          p © Metropolitan Anthony of Sourozh Foundation
          p © Metropolitan Anthony of Sourozh Spiritual Heritage Foundation