footer.site__footer.footer
  .container
    .row
      .col-sm-4
        .footer-contact
          p E-mail: masf.foundation@gmail.com
      .col-sm-4
        .footer-contact
          p Phone number: 07440  040789
      .col-sm-4
        .footer__copyright
          p © Metropolitan Anthony of Sourozh Foundation
          p © Metropolitan Anthony of Sourozh Spiritual Heritage Foundation