@keyframes top-in {
from {
	transform: translateY(-150%);
}
to {
	transform: translateY(0);
}
}
.top-in {
  animation: top-in 600ms;
}
@keyframes right {
from {
  transform: translateX(15px);
}
50% {
  transform: translateX(100vw) translateX(-100%) translateX(-30px);
}
to {
  transform: translateX(15px);
}
}
.animation-right
  display flex
  animation: right 200000ms infinite;
  @media only screen and (min-width: sm)
    animation: right 150000ms infinite;
  @media only screen and (min-width: md)
    animation: right 120000ms infinite;
.animation-box
  display flex
@keyframes program {
from {
  width: 33%;
}
to {
  width: calc(100% - 30px);
}
}  
.animation-program
  animation: program 600ms forwards;
@keyframes opacit {
from {
  opacity: 0;
}
50% {
  opacity: 0;
}
to {
	opacity: 1;
}
}  
.animation-opacity
  animation: opacit 1200ms forwards;